<h1>Listing Animales</h1>

<%= if @live_action in [:new, :edit] do %>
  <.modal return_to={Routes.animal_index_path(@socket, :index)}>
    <.live_component
      module={AgniWeb.AnimalLive.FormComponent}
      id={@animal.id || :new}
      title={@page_title}
      action={@live_action}
      animal={@animal}
      return_to={Routes.animal_index_path(@socket, :index)}
    />
  </.modal>
<% end %>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero</th>
      <th>Figura</th>
      <th>Contador cierre</th>
      <th>Valor cierre</th>
      <th>Contador ventas</th>
      <th>Estado</th>
      <th>Status</th>

      <th></th>
    </tr>
  </thead>
  <tbody id="animales">
    <%= for animal <- @animales do %>
      <tr id={"animal-#{animal.id}"}>
        <td><%= animal.nombre %></td>
        <td><%= animal.numero %></td>
        <td><%= animal.figura %></td>
        <td><%= animal.contador_cierre %></td>
        <td><%= animal.valor_cierre %></td>
        <td><%= animal.contador_ventas %></td>
        <td><%= animal.estado %></td>
        <td><%= animal.status %></td>

        <td>
          <span><%= live_redirect "Show", to: Routes.animal_show_path(@socket, :show, animal) %></span>
          <span><%= live_patch "Edit", to: Routes.animal_index_path(@socket, :edit, animal) %></span>
          <span><%= link "Delete", to: "#", phx_click: "delete", phx_value_id: animal.id, data: [confirm: "Are you sure?"] %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span><%= live_patch "New Animal", to: Routes.animal_index_path(@socket, :new) %></span>
